:root{
    --main-text-color:#757575;
    --sec-text-color:#212121;
    --acsent-text-color:#FFFFFF;
    --acsent-cec-text-color:#2196F3;

    --main-bgc:#F5F5F5;
    --sec-bgc:#F5F4FA;
    --acsent-bgc:#2F303A;

    --main-text-size: 16px;

    --main-icon-color:#afb1b8;
}



body {
    background: var(--main-bgc); 
    color: var(--main-text-color);
    font-size: var(--main-text-size);
    font-family: roboto, sans-serif;
}

h1, h2, h3, h4, h5,h6, p {
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: var(--main-text-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* ===================HEADER================= */
header>.container {
    display: flex;
    align-items: center;

}

.logo {
    color: var(--acsent-cec-text-color);
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: ralewey, sans-serif;

    display: block;
    padding: 25px 0;
}

.logo:hover,
.logo:focus {
    color: var(--sec-text-color);
}

.logo-acsent {
    color: var(--sec-text-color);
    text-transform: capitalize;
}

.logo-acsent:hover,
.logo-acsent:focus {
    color: var(--acsent-cec-text-color);
}

.nav-list {
    margin-left: 93px;
    display: flex;
    gap: 50px;
}

.nav-link {
    size:14px;
    line-height: 1.14;
    text-transform: capitalize;
    display: block;
    padding: 30px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--acsent-cec-text-color);
}

.active {
    color: var(--acsent-cec-text-color);
    border-bottom: 3px solid var(--acsent-cec-text-color);
}

.contacts-list{
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-link {
    padding: 30px 0;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--acsent-cec-text-color);
}

.contacts-icon {
    margin-right: 10px;
    
    fill: currentColor;
}

/* ====================HERO================= */
.hero {
      padding: 200px 0;
    text-align: center;

    background-color: var(--acsent-bgc);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    )
    ,url("../images/bgn/hero_bgn.jpg");

    background-size: cover;
    background-position: center;
}

.hero-title {
    font-size: 44px;
    line-height:1.36;
    color: var(--acsent-text-color);
    text-transform: uppercase;

    margin-bottom: 30px;
}

.hero-button {
     background-color: var(--acsent-cec-text-color);
     color: var(--acsent-text-color);
     font-weight: 700;

     margin: 0;
     min-width: 216px;
     padding: 15px 30px;
     border-color: transparent;
     border-radius: 4px;
    

     cursor: pointer;
     
}

.hero-button:hover,
.hero-button:focus {
    color: var(--sec-text-color);
    background-color:var(--sec-bgc);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--sec-text-color);
    font-weight: 700;

    text-align: center;
    margin-bottom: 50px;
}
/* ====================FEATURES================ */
.features {
    padding: 94px 0;
}

.features-list{
    display: flex;
    gap: 30px;
}

.features-item {
    flex-basis: calc((100%-90px)/4);
}

/* .features-icon {
    display: block;
   padding: 25px 100px;
    background-color: var(--sec-bgc);
    margin-bottom: 30px;  
} */

.features-item-title {
    color: var(--sec-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-item-title::before {
    content: "";
    display: block;
    height: 120px;
   background-color: var(--sec-bgc);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: url("../images/svg/antenna.svg");
}

.icon-clock::before {
    background-image: url("../images/svg/clock.svg");
}
.icon-diagram::before {
    background-image: url("../images/svg/diagram.svg");
}
.icon-asrtonaut::before {
    background-image: url("../images/svg/astronaut.svg");
}
.features-item>p {
    font-size: 14px;
    line-height: 1.71;
}
/* ======================OUR_WORK=============== */
.our-work {
    padding-bottom: 94px;
}

.our-work-list {
    display: flex;
    gap: 30px;
}

.our-work-item {
    flex-basis: calc((100%-60px)/3);
}
/* =======================TEAM==================== */
.team {
    background-color: var(--sec-bgc);
    padding: 94px 0;
}
.team-title {
    margin-bottom: 50px;
}
.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    flex-basis: calc((100%-90px)/4);
}
.teammate {
    border: 1px solid transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.3);

}

.teammate-title {
    font-weight: 500;
    color: var(--sec-text-color);
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.17;

    margin-bottom: 10px;
}

.teammate-discription {
    padding: 30px 0;
    text-align: center;
}

.teammate-socials{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials {
    display: block;
    border: solid  0px transparent;
    border-radius: 50%;
    color: var(--main-icon-color);
}

.teammate-icon {
    display: block;
    padding: 12px;
    fill:currentColor;
}

.socials:hover,
.socials:focus {
    background-color: var(--acsent-cec-text-color);
    color: var(--acsent-text-color);
}
/* =======================CLIENTS================= */
.clients  {
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    
}

.clients-link {
    color: var(--main-icon-color);
  
}

.clients-icon:hover,
.clients-icon:focus {
    color: var(--acsent-cec-text-color);
}

.clients-icon {
    display: flex;
    padding: 16px 32px;
    
    border: solid 1px ;
    border-radius: 4px;
    fill: currentColor;
}
/* ==========================FOOTER=================== */
.footer {
    background-color: var(--acsent-bgc);
    padding: 60px 0;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.footer .logo-acsent {
    color: var(--acsent-text-color);
}

.footer .logo:hover,
.footer .logo:focus {
    color: var(--acsent-text-color);
}

.footer .logo-acsent:hover {
    color: var(--acsent-cec-text-color);
}

.address {
    font-style: normal;
     color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

.address-link:hover,
.address-link:focus{
    color: var(--acsent-cec-text-color);
}

.address-map {
color: var(--acsent-text-color);
}


/* ==================PORTFOLIO=================== */

.examples>.container {
    padding: 94px 0;
}

.button-list {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button {
    font-weight: 500;
    text-transform: capitalize;

    padding: 10px 22px;
    border: transparent;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    color: var(--acsent-text-color);
    background-color:var(--acsent-cec-text-color);
    cursor: pointer;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.examples-item {
    border: 1px solid #EEEEEE;

    flex-basis: calc((100%-60)/3);
}


.examples-discription {
    padding: 20px 24px;
}

.examples-item h3 {
    color: var(--sec-text-color);
    line-height: 2;
  
}

.examples-item p {
    text-transform: capitalize;
    line-height: 1.88;
   
}